@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de colores y temas */
:root {
  --primary-color: #1a1a1a;
  --secondary-color: rgb(190, 190, 190);
  --accent-color: #e58e09;
  --text-color: #333;
  --background-color: #000000;
  --transition-time: 0.3s;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
  }
}

/* Animaciones optimizadas */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Estilo del carrusel */
.hero-height {
  height: 100vh;
}

.hero-carousel {
  @apply relative overflow-hidden;
}

.hero-carousel img {
  @apply transition-opacity duration-1000 absolute top-0 left-0 w-full h-full;
  object-fit: cover;
}

.hero-carousel img:not(:first-child) {
  opacity: 0;
}

.hero-carousel img.active {
  opacity: 1;
}

.fixed-image-container {
  @apply absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50;
  top: 80%;
  width: 300px;
  height: 300px;
}

.fixed-image {
  @apply block w-full h-full;
  object-fit: contain;
}

/* Fondo del carrusel */
.hero-carousel-overlay {
  @apply absolute inset-0 bg-black/40 z-10;
}
